<div class='card'>
  <div class='card-header'>
      <h4> {{pageTitle}}</h4>
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text'
        [(ngModel)]='listFilter'/>
      </div>
    </div>
   
<!--Search books -->
<div class='row'>
    <div class='col-md-2'>Sort by:</div>
    <div class='col-md-4'>     
        <select [(ngModel)]='sortByKey'>
          <option value="_id">Book Id</option>
          <option value="bookTitle">Title</option>
          <option value="topic">Topic</option>
          <option value="author">Author</option>
          <option value="cost">Cost</option>
        </select>          
    </div>
  </div>
    <div class='row'>
        <div class='col-md-2'>Search by:</div>
        <div class='col-md-4'>
          <input type='text' placeholder="Title"
          [(ngModel)]='searchtext'/>          
        </div>
    </div>
    
     <!-- Display books --> 

    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Topic</th>
            <th>Author</th>
            <th>Cost</th>
            <th>Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let book of filteredBooks | sortBy: sortByKey | searchpipe: searchtext'>
              <td>{{book.bookTitle}}</td>
              <td>{{book.topic}}</td>
              <td>{{book.author}}</td>
              <td>{{book.cost}}</td>
              <td>{{book.rating}}</td>
              <td>
                <button class="btn btn-success" (click)='onReturn(book)'>Return</button>          
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>