<div class="card">
  <div class="card-body">
      <div class="text-center"><a href="https://www.instagram.com/accounts/login/" target="_blank">
        <img src="assets/images/back2.jpg"
             class="img-responsive center-block"
             style="max-height :100%;max-width:100%; padding-bottom:10px;"/></a>    
             <div class="text-center">
                <h5>{{user.firstName| uppercase }} {{user.lastName | uppercase}}</h5>
                <P>Software Enginner</P>
             </div> 
             <div class="text-center">
               
                <p>A reader lives a thousand life before he dies...</p>
                <h6> Share with your friends</h6>
                <div class="image">
                    <a href="https://www.facebook.com/" target="_blank">
                      <img src="assets/images/facebook.png"
                      class="img-responsive center-block"
                      style="max-height:50px;" /></a>

                      <a href="https://www.instagram.com/accounts/login/" target="_blank">
                        <img src="assets/images/instagram.jpg"
                       class="img-responsive center-block"
                       style="max-height:70px;" /></a> 

                       <a href="https://twitter.com/login?lang=en" target="_blank">
                      <img src="assets/images/twitter.jpg"
                       class="img-responsive center-block"
                       style="max-height:50px;" /></a>       
                </div>
             </div>
      </div>
      
  </div>
</div>
