<div class='card'>
    <div class='card-header'>
        <h4> {{pageTitle}}</h4>
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-4'>
          <input type='text' placeholder="Name"
          [(ngModel)]='listFilter'/>
        </div>
      </div>
     
      <!--Search books -->
       <div class='row'>
      <div class='col-md-2'>Sort by:</div>
      <div class='col-md-4'>     
          <select [(ngModel)]='sortByKey'>        
            <option value="firstName">Name</option>
            <option value="email">Email</option>
            <option value="book_id">Book Id</option>
            <option value="bookTitle">Book Name</option>
          </select>          
       </div>
       </div>
       <!-- Display books --> 
  
      <div class='table-responsive'>
        <table class='table'>
           <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Book Id</th>
              <th>Book Name</th>
              <th></th>
            </tr>
           </thead>
           <tbody>
            <tr *ngFor='let issue of filteredList | sortBy: sortByKey | searchpipe: searchtext'>
                <td>{{issue.firstName | titlecase }}</td>
                <td>{{issue.email}}</td>
                <td>{{issue.book_id}}</td>
                <td>{{issue.bookTitle}}</td>
              </tr>
            </tbody>
          </table>
       </div>


    
    </div>
    <div class='card-footer'>
        <button class='btn btn-outline-secondary'
                (click)='goBack()'
                style='width:80px'>
          <i class='fa fa-chevron-left'></i> Back
        </button>
      </div>
</div>    